table {
    border-collapse: collapse;
    background-color: rgb(230, 230, 230);
}

td {
    height: 100px;
    width: 100px;
    border-right: 1px solid black;
}

#reset_btn {
    color: blue;
    text-decoration: underline;
}

tr {
    border-bottom: 1px solid black;
}

table {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

input[type=button] {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}